body{
    margin: 40px auto;
    width: 100%;
    max-width: 1000px;
    font-size: 18px;
}
.box{
    background-color: rgb(235, 84, 84);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    order: 1;
}
.box:nth-child(2n){
    background-color: rgb(53, 1330, 218);
    color: #000;
}
/* .box1{
    order: 3;
}
.box2{
    order: 2;
} */
.wrapper{
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
}